.board{
	display: inline-block;
	margin: 10px;
	border: 1px solid #000000;
}
.b{
	display: inline-block;
	border: 1px solid #000000;
	height: 20px;
	line-height: 20px;
	width: 20px;
	padding: 5px;
	font-size: 14px;
	text-align: center;
}
.r2, .r5{
	border-bottom: 3px solid #000000;
}
.c2, .c5{
	border-right: 3px solid #000000;
}