html, body{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}
body {
	background-color: #cccccc;
	font-family: Arial,Helvetica,sans-serif;
	position: relative;
}
body.error{
	background-color: red;
}
canvas {
	position: absolute;
	top: 0;
	left: 0;
}
#layers {
	position: relative;
	display: inline-block;
	vertical-align: top;
}
.toolbar{
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
}
.score {
	background-color: #ffffff;
	font-size: 20px;
	padding: 10px;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
#grid {
	width: 100%;
	height: 100%;
}
#grid td{
	text-align: center;
}
#keyboard {
	width: 30%;
}
.keyboard {
	position: relative;
	width: 200px;
	height: 200px;
	display: inline-block;
}
.key {
	width: 80px;
	height: 80px;
	font-size: 80px;
	text-align: center;
	display: block;
	position: absolute;
}
.fa-arrow-circle-o-left {
	left: 0;
	top: 50%;
	margin-top: -40px;
}
.fa-arrow-circle-o-up {
	left: 50%;
	top: 0;
	margin-left: -40px;
}
.fa-arrow-circle-o-right {
	right: 0;
	top: 50%;
	margin-top: -40px;
}
.fa-arrow-circle-o-down {
	left: 50%;
	bottom: 0;
	margin-left: -40px;
}