html, body{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}
body {
	background-color: #ffffff;
	font-family: Arial,Helvetica,sans-serif;
	position: relative;
}
#layers {
	position: relative;
	display: inline-block;
	vertical-align: top;
}
#layers canvas{
	position: absolute;
}